h1 {
    text-align: center;
    margin: 2%;
    font-size: 10vw;
}
h2 {
    text-align: center;
    margin: 2%;
    font-size: 7vw;
}

a {
    text-decoration: none;
    color: rgb(4, 0, 73);
}
a:hover {
    text-decoration: none;
    color: rgb(8, 0, 167);
}
a:active {
    text-decoration: none;
    color: black;
}
a:focus {
    text-decoration: none;
    color: black;
}

body {
    background-color: slategray;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3vw;
    width: 60%;
    margin: auto;
    text-align: center;
}

p.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
} 
p.fade-in.is-visible {
    opacity: 1;
}
  
h2.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
} 
h2.fade-in.is-visible {
    opacity: 1;
}

#pagegap {
    height: 5%;
}