h1 {
    text-align: center;
    margin: 2%;
    font-size:9vh;
}
h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 6vh;
}
h2.about {
    text-align: center;
    margin: 2%;
    font-size: 4vh;
}
h6 {
    text-align: center;
    margin: 2%;
    font-size: 3vh;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

#githubIcon {
    width: 2vh;
    height: 2vh;
    text-align:right;
    vertical-align: middle;
}

#emailIcon {
    width: 3vh;
    height: 2vh;
    vertical-align: middle;
    text-align:left;
}

#headshot {
    width: 60%;
    margin-left: 20%;
}
.contact {
    background-color:transparent;
}
.contactInfo {
    flex: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(#c5ebdf, #e7dabd)
}
button {
    font-size: 4vh;
    background-color: #c5ebdf;
    border-radius: 1vh;
    font-weight: bold;
    border-width: 1vh;
    border-color: #d2b5e2
}
button:hover {
    background-color: #d7f3ea;
    border-color: #d9c4e3;
}

body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#resumeButton {
    font-size: 2vh;
    border-radius: 0.5vh;
    border-width: 0.5vh;
}
p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 3.5vh;
    width: 75%;
    margin: auto;
    text-align: center;
    
}
.column_left {
    width: 20%; 
    height:100%;
    background-color: #e7dabd;
    margin: 0%;
    position: fixed;
    grid-column: 1;
}

.column_right {
    margin-left: 20%;
    width: 80%; 
}

.aboutMe {
    font-size: 2vh;
    text-align: center;
    margin-bottom: 2%;
}

@media screen and (orientation: portrait) {
    .column_left {
        width: 100%;
        margin-bottom: 2%;
        position: relative;
    }
    .column_right {
        margin: auto;
        width: 100%;
    }
}