li { 
    display: inline;

}

h1 {
    text-align: center;
    margin: 2%;
}
ul {
    list-style-type: none;
    margin: -10px;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    font-size: 2em;
    color: black;
}

li {
    cursor: default;
    float: left;
    padding: 16px;
    line-height: 1.5;
}

li.current {
    background-color: aqua;
}

li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: none;
    color: black;
}
li a:active {
    text-decoration: none;
    color: black;
}
li a:focus {
    text-decoration: none;
    color: black;
}
li:hover, .navBtn:active {
    background-color: aquamarine;
}

body {
    background-color: lightgray;
}